In [13]:
from xtrader.apis.rest.stocks.alphavantage import AlphaVantageStockAPI

In [14]:
stock = AlphaVantageStockAPI("QSDYF6K3UBL8S8SP")

In [15]:
stock.get_daily("MSFT")

          date      open      high       low     close    volume
0   2023-12-22  373.6800  375.1800  372.7100  374.5800  17107484
1   2023-12-21  372.5600  374.4100  370.0400  373.5400  17708006
2   2023-12-20  375.0000  376.0300  370.5300  370.6200  26316650
3   2023-12-19  371.4900  373.2600  369.8400  373.2600  20533284
4   2023-12-18  369.4500  373.0000  368.6800  372.6500  21802878
..         ...       ...       ...       ...       ...       ...
95  2023-08-09  326.4700  327.1100  321.0499  322.2300  22373268
96  2023-08-08  326.9600  328.7500  323.0000  326.0500  22327574
97  2023-08-07  328.3700  331.1100  327.5200  330.1100  17741526
98  2023-08-04  331.8800  335.1400  327.2400  327.7800  23741484
99  2023-08-03  326.0000  329.8800  325.9500  326.6600  18360352

[100 rows x 6 columns]