In [23]:
from xtrader.apis.rest.stocks.alphavantage import AlphaVantageStockAPI

import pandas as pd

In [14]:
stock = AlphaVantageStockAPI("QSDYF6K3UBL8S8SP")

In [39]:
nvda = stock.get_daily("NVDA")
nvda.set_index("date", inplace=True)
nvda.index = pd.to_datetime(nvda.index)

In [40]:
nvda

                open      high       low     close    volume
date
2023-12-27  495.0000  496.8000  490.8600  494.1700  23330358
2023-12-26  489.6800  496.0000  489.6000  492.7900  24419952
2023-12-22  491.9500  493.8300  484.6700  488.3000  25250676
2023-12-21  488.1100  490.9500  484.1900  489.9000  30042535
2023-12-20  496.5500  499.9900  480.9800  481.1100  39789439
...              ...       ...       ...       ...       ...
2023-08-11  417.5100  420.1800  406.3900  408.5500  53308526
2023-08-10  421.6000  435.7400  418.3500  423.8800  49270530
2023-08-09  442.7400  443.1200  421.3400  425.5400  58644907
2023-08-08  448.5300  452.4200  440.5601  446.6400  35384343
2023-08-07  451.1100  455.4000  445.6345  454.1650  32215354

[100 rows x 5 columns]